<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789804799763-015kp3np7dhakokferkb1gedvckalujl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789804799763-015kp3np7dhakokferkb1gedvckalujl</string>
	<key>API_KEY</key>
	<string>AIzaSyDwwdBIXk7HOlfdK1WgE29kiJvw-9dUf68</string>
	<key>GCM_SENDER_ID</key>
	<string>789804799763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prebootScreenreader</string>
	<key>PROJECT_ID</key>
	<string>preboot-screen-reader</string>
	<key>STORAGE_BUCKET</key>
	<string>preboot-screen-reader.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789804799763:ios:69f0324930c7fc6db36ce6</string>
</dict>
</plist>